order-api-lab1/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api-config" api="resource::3a1f6da8-946c-45ef-ba52-c93009bc545d:sapi-order-dotnet:1.0.0:raml:zip:api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\orders\(id):application\json:api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Unauthorized"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\orders\(id):api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Unauthorized"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders:api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    sourceSystem: "SAP",
    orderId: "1",
    customerId: "id-21323",
    customerName: "Roeder Consulting",
    contactName: "Brett Roeder",
    contactPhone: {
      "type": "Office",
      phoneNumber: "678-122-2323"
    },
    contactEmail: {
      "type": "Work",
      address: "brettRoeder@gmail.com"
    },
    billingAddress: {
      use: "work",
      line: [
        "3460 Preston Ridge Road", 
        "Suite 575"
      ],
      city: "Alpharetta",
      state: "GA",
      postalCode: "30005",
      country: "USA"
    },
    shippingAddress: {
      use: "home",
      line: [
        "257 Stone Park Drive"
      ],
      city: "Woodstock",
      state: "GA",
      postalCode: "30188",
      country: "USA"
    },
    createDateTime: "2014-08-07T01:02:03",
    lastModifiedDateTime: "2016-01-01T12:13:14",
    orderLineItems: [
      {
        productId: 123,
        productName: "Amazon Echo",
        quantitiyOnHand: 103,
        quantitySafetyStock: 20,
        price: 49.99,
        discountPct: 5,
        createDateTime: "2014-08-07T01:02:03",
        lastModifiedDateTime: "2016-01-01T12:13:14"
      }, 
      {
        productId: 11,
        productName: "SONOS Play:5",
        quantitiyOnHand: 51,
        quantitySafetyStock: 10,
        price: 499.99,
        discountPct: 0,
        createDateTime: "2014-08-07T01:02:03",
        lastModifiedDateTime: "2016-01-01T12:13:14"
      }
    ]
  }, 
  {
    sourceSystem: "Salesforce",
    orderId: "id-q34qwer-qer-qewrqw",
    customerId: "id-21323",
    customerName: "BA Manufacturing",
    contactName: "Matias Suarez",
    contactPhone: {
      "type": "Office",
      phoneNumber: "678-122-2323"
    },
    contactEmail: {
      "type": "Work",
      address: "msuarez@gmail.com"
    },
    billingAddress: {
      use: "work",
      line: [
        "3460 Preston Ridge Road"
      ],
      city: "Alpharetta",
      state: "GA",
      postalCode: "30005",
      country: "USA"
    },
    shippingAddress: {
      use: "home",
      line: [
        "257 Stone Park Drive"
      ],
      city: "Woodstock",
      state: "GA",
      postalCode: "30188",
      country: "USA"
    },
    createDateTime: "2014-08-07T01:02:03",
    lastModifiedDateTime: "2016-01-01T12:13:14",
    orderLineItems: [
      {
        productId: 11,
        productName: "Amazon Echo",
        quantitiyOnHand: 103,
        quantitySafetyStock: 20,
        price: 49.99,
        discountPct: 5,
        createDateTime: "2014-08-07T01:02:03",
        lastModifiedDateTime: "2016-01-01T12:13:14"
      }, 
      {
        productId: 12,
        productName: "SONOS Play:5",
        quantitiyOnHand: 51,
        quantitySafetyStock: 10,
        price: 499.99,
        discountPct: 0,
        createDateTime: "2014-08-07T01:02:03",
        lastModifiedDateTime: "2016-01-01T12:13:14"
      }
    ]
  }
] as Array {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\(id):api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  sourceSystem: "SAP",
  orderId: "1",
  customerId: "id-21323",
  customerName: "Roeder Consulting",
  contactName: "Brett Roeder",
  contactPhone: {
    "type": "Office",
    phoneNumber: "678-122-2323"
  },
  contactEmail: {
    "type": "Work",
    address: "brettRoeder@gmail.com"
  },
  billingAddress: {
    use: "work",
    line: [
      "3460 Preston Ridge Road", 
      "Suite 575"
    ],
    city: "Alpharetta",
    state: "GA",
    postalCode: "30005",
    country: "USA"
  },
  shippingAddress: {
    use: "home",
    line: [
      "257 Stone Park Drive"
    ],
    city: "Woodstock",
    state: "GA",
    postalCode: "30188",
    country: "USA"
  },
  createDateTime: "2014-08-07T01:02:03",
  lastModifiedDateTime: "2016-01-01T12:13:14",
  orderLineItems: [
    {
      productId: 124,
      productName: "Amazon Echo",
      quantitiyOnHand: 103,
      quantitySafetyStock: 20,
      price: 49.99,
      discountPct: 5,
      createDateTime: "2014-08-07T01:02:03",
      lastModifiedDateTime: "2016-01-01T12:13:14"
    }, 
    {
      productId: 123,
      productName: "SONOS Play:5",
      quantitiyOnHand: 51,
      quantitySafetyStock: 10,
      price: 499.99,
      discountPct: 0,
      createDateTime: "2014-08-07T01:02:03",
      lastModifiedDateTime: "2016-01-01T12:13:14"
    }
  ]
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\orders:application\json:api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: "27679"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
